<div class="row hero-solid-color">
    <h1 class="white-center">Hi, there.</h1>
    <img class="down-arrow" src="../../images/arrow.svg" />
</div>


<div class="spacer d-none d-lg-block d-xl-block"></div>

<div class="row text-padding d-flex justify-content-center more-space">
    <div class="col-12 d-lg-none d-xl-none">
        <div class="d-flex justify-content-center">
            <div class="headshot-mask">
                <img class="headshot img-fluid" src="../../images/headshot.jpg" />
            </div>
        </div>
    </div>

    <div class="col-12 more-space-on-mobile">
        <div class="headshot-mask d-none d-lg-block d-xl-block to-the-left">
            <img class="headshot img-fluid" src="../../images/headshot.jpg" align="left"/>
        </div>
        <div class="text-float-right limit-width">
        <h2>My name is Erin Thigpen.</h2>
            <p>I am a Full-Stack Software Developer and Graphic Designer living in Houston, Texas.</p>
            
            <p>I graduated from The College of William & Mary in Virginia with a B.A. in Economics. Since then, I have worked for the ATX Television Festival, Contemporary Arts Museum Houston, and Austin Film Society. After several years in the non-profit field, I decided to pursue a career in Web Development. I enjoy merging my creative background and penchant for solving logic problems as a developer.
                
            <p>In my spare time, I enjoy making short films, reading Jane Austen novels, doing crosswords in pen, and building tiny model houses.</p>
        </div>
    </div>
</div>

<div class="spacer d-none d-lg-block d-xl-block"></div>

<div class="row" id="workArtworkGrid">

    {{#each gridInfo}}
    <div class="col-xs-12 col-sm-6 col-md-4 grid-thumbnail-col">
        <img class="grid-thumbnail" id="thumbnail-{{@index}}" src="../../images/{{image}}" />
        <div class="overlay-color" id="grid-{{@index}}"></div>
        <div class="overlay-text" id="overlay-{{@index}}">{{title}}</div>
    </div>
    {{/each}}
    
</div>

<div class="spacer"></div>
<div class="spacer d-none d-lg-block d-xl-block"></div>

<div class="row">
    <div class="col">
        <div class="tagline">Email :: <a href="mailto:thigabiga@gmail.com">thigpen.erin@gmail.com</a></div>
        <div class="tagline">GitHub :: <a href="https://github.com/thigabiga" target="_blank">@thigabiga</a></div>
        <div class="tagline">LinkedIn :: <a href="https://www.linkedin.com/in/erin-thigpen/" target="_blank">linkedin.com/in/erin-thigpen</a></div>
    </div>
</div>

<script type="text/javascript" src="../../scripts/work-script.js" async></script>