
<div class="anchor" id="home"></div>
<div class="row-fluid box d-flex justify-content-center">
    <div class="col" style="max-width: 800px;">
        <h1 style="text-align: right;">
            my name is<br />
            <span style="text-decoration: underline #54B948">erin thigpen</span>.
        </h1>
        <h1 style="text-align: center; font-size: 80px;">
            \
        </h1>
        <h1>
            i am a
            developer<br />
            and designer.
        </h1>
    </div>
</div>

<div class="anchor box" id="about"></div>
<div class="row-fluid box d-flex justify-content-center">
    <div class="col box" style="max-width: 800px;">
        <p>
            my name is erin. my friends call me “thig.” 
        </p>
        <p>
            i graduated from the college of william & mary in virginia with a b.a. in economics. since then, i have worked for the atx television festival, contemporary arts museum houston, and austin film society. i currently enjoy merging my computer science background and penchant for problem-solving as a data engineer based in houston, texas.
        </p>
        <p>
            in my spare time, i enjoy creating digital illustrations, reading colin dexter novels, doing crosswords in pen, and learning improv.
        </p>
    </div>
</div>

<div>

</div>

{{!-- HEADSHOT --}}
<div class="row-fluid d-flex justify-content-center box">
    <div class="headshot-mask">
        <img class="headshot img-fluid" src="../../images/headshot.jpg" />
    </div>
</div>

<div class="box"></div>

{{!-- WORK --}}
<div class="anchor box" id="code"></div>
<div class="row box" id="workArtworkGrid">
    <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center">
        <h1 style="text-align: center; font-size: 80px;">\</h1>
    </div>
    <div class="col-sm-12 col-md-6">
    {{#each codeInfo}}
        <p class="work-link" data-id="{{id}}" id="text-{{id}}">{{title}} [code]</p>
    {{/each}}
    {{#each designInfo}}
        <p class="work-link" data-id="{{id}}" id="text-{{id}}">{{title}} [design]</p>
    {{/each}}
    </div>
</div>

{{!-- SKILLS --}}
<div class="anchor box" id="skills"></div>
<div class="row" id="workArtworkGrid">
    <div class="col box">
        {{#each skillInfo}}
        <i class="{{icon}} fa-2x" data-toggle="tooltip" title="{{title}}" style="padding: 10px;"></i>
        {{/each}}
    </div>
</div>


{{!-- SCRIPTS --}}
<script type="text/javascript" src="../../scripts/work-nav.js" async></script>

<script type="text/javascript" async>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>