{{#with myproject}}
<div class="row">
    <div class="col-12 hero">
        <img class="hero-banner" src="{{images.[0]}}" />
    </div>
</div>

<!-- <div class="row text-padding d-flex justify-content-between">
    <div id="left-arrow">&lt;--</div>
    <div id="right-arrow">--&gt;</div>
</div> -->

<div class="spacer"></div>
<div class="row text-padding d-flex justify-content-center">
    <div class="col-fluid limit-width">
        <h3>{{title}}</h3>
    </div>
</div>
<div class="spacer"></div>
<div class="row text-padding d-flex justify-content-center">
    <div class="col-fluid limit-width">
        <p>{{description}}</p>
        <div class="spacer"></div>
        <h5 class="header-tagline">Created For :: {{employer}}</h5>
        <div class="spacer"></div>
        <h6 class="header-tagline">Technologies</h6>
        <!-- need to add IF statement to remove :: before and after list -->
        <h5 class="header-tagline"> :: {{#each technologies}}{{this}} :: {{/each}}</h5>
    </div>
</div>
{{/with}}
