<div class="row headerText">
    <h3>{{title}}</h3>
</div>

<div class="row" id="workArtworkGrid">

    {{#each gridInfo}}
    <div class="col-xs-12 col-sm-6 col-md-4 grid-thumbnail-col">
        <img class="grid-thumbnail" id="thumbnail-{{@index}}" src={{image}} />
        <div class="overlay-text" id="overlay-{{@index}}">{{title}}</div>
    </div>
    {{/each}}
    
</div>