{{#with myproject}}

    {{!-- ABOUT --}}
    <div class="row-fluid box">
        <h5>{{title}}</h5>
    </div>

    <div class="row-fluid">
        <h6>created for {{employer}}</h6>
        <h6>built with • {{#each technologies}}{{this}} • {{/each}}</h6>
    </div>

    <div class="row-fluid box">
        <p>{{{description}}}</p>
    </div>

    {{!-- IMAGES --}}
    <div class="row-fluid">
        {{#if images.[0]}}
            {{#each images}}
            <div class="col-12 work-image-mask">
                <img class="work-image" id="thumbnail-{{@index}}" src="../../images/{{this}}" />
            </div>
            {{/each}}
        {{/if}}
    </div>

{{/with}}

{{!-- GO BACK --}}
<div class="row-fluid box">
    <p><a href="javascript:history.back()" style="font-size: 10px; letter-spacing: 2px;">Go Back</a></p>
</div>


    {{!-- VIDEO --}}
    {{#if video.[0]}}
        <div class="row d-flex justify-content-center">
            <div class="col-fluid">
                <video style="width: 100%; max-height: 400px; margin-top: 40px;" poster="../../images/{{images.[0]}}" src="../../images/{{video.[0]}}" type="video/webm" controls autoplay preload>
                </video>
            </div>
        </div>
    {{/if}}

{{!-- SCRIPTS --}}
