{{#with myproject}}

{{!-- HERO --}}
<div class="row green-hero">
    <h1>{{title}}</h1>
</div>

{{!-- ABOUT --}}
<div class="row-fluid d-flex justify-content-center">
    <div class="col space-around">
        <h2>{{short}}</h2>
        <p>{{{description}}}</p>
        {{#if github}}
        <a href="{{github}}" target="blank" class="nav-bottom-hashtag">[ GitHub ]</a>
        {{/if}}
    </div>
</div>

{{!-- VIDEO --}}
{{#if video}}
    <div class="row video-hero d-flex justify-content-center">
        <video controls>
            <source src="../../images/{{video}}" type="video/mp4">
        </video>
    </div>
{{/if}}

{{!-- IMAGES --}}
<div class="row d-flex" id="workArtworkGrid">
    {{#each images}}
    <div class="col d-flex justify-content-center">
        <img class="project-image" src="../../images/{{image}}" />
    </div>
    {{/each}}
</div>
{{/with}}